.testimonial-section{
    width:100%;
    background:#eef5fc;
    padding:40px 60px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
}

.testimonial-inner{
    width: 80%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.testimonial-left{
    width:32%;
}

.quote-icon{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#d9ebff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:32px;
    color:#008bdc;
    margin-bottom:20px;
}

.testimonial-left h2{
    font-size:34px;
    line-height:1.3;
    font-weight:700;
    margin-bottom:30px;
}

.rating-title{
    font-size:16px;
    letter-spacing:1px;
    margin-bottom:20px;
}

.rating-row{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:30px;
}

.rating-number{
    font-size:60px;
    font-weight:600;
    color:#007bff;
}

.playstore-btn{
    background:#111;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:50px;
    font-size:22px;
    font-weight:600;
    cursor:pointer;
}

.testimonial-right{
    width:68%;
    display:flex;
    align-items:center;
    position:relative;
}

.cards-container{
    display:flex;
    gap:30px;
    width:100%;
}

.testimonial-card{
    flex:1;
    background:rgb(221, 227, 232);
    border-radius:24px;
    padding:20px;
    min-width:420px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.testimonial-card h3{
    font-size:22px;
    margin-bottom:20px;
}

.testimonial-card p{
    font-size:18px;
    line-height:1.7;
    color:#222;
}

.user-info{
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:20px;
}

.user-info img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}

.user-info h4{
    font-size:18px;
    margin-bottom:5px;
}

.arrow{
    position:absolute;
    width:60px;
    height:60px;
    border-radius:50%;
    border:2px solid #008bdc;
    background:white;
    color:#008bdc;
    font-size:24px;
    cursor:pointer;
    z-index:10;
}

.left-arrow{
    left:-30px;
}

.right-arrow{
    right:-30px;
}

@media(max-width:1200px){

    .testimonial-section{
       
        padding:50px 20px;
    }

    .testimonial-inner{
        width: 100%;
         flex-direction:column;
    }

    .testimonial-left,
    .testimonial-right{
        width:100%;
    }

    .cards-container{
        flex-direction:row;

    }

    .testimonial-card{
        width:420px;
    }

    .testimonial-left h2{
        font-size:22px;
    }

    .testimonial-card h3{
        font-size:18px;
    }

    .testimonial-card p{
        font-size:18px;
    }
}
@media (max-width: 500px) {
    
    .testimonial-card{
        min-height:auto;
        width:420px
    }
}